.App {
  text-align: center;
}
.mouse-interaction{
  max-width: 500px;
  margin: 60px auto 0;
}
.hover{
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 50px 30px 
}
.mouse-box{
  max-width: 200px;
  margin: 10px auto 0;
  border: 1px solid red;
  padding: 50px 30px ;
}
